/* Estilos Generales */
* {
  font-family: "Montserrat", sans-serif;
}
ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.oscurecer-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Header Estilos */
.logotipo-imagen {
  width: 5rem;
}

.index-background,
.autos-background {
  background-image: url(../img/indexHeaderBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;

  position: relative;
}
.autos-background {
  background-image: url(../img/autosHeaderBackground.jpg);
}
.index-header-inferior,
.autos-header-inferior {
  width: 30rem;
  height: 90vh;
  margin-left: 2rem;
}
.autos-header-inferior {
  margin: unset;
  width: unset;
  padding: 0 1rem;
}
.index-header-btn {
  border-radius: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}
/* Main Estilos */
.cards-autos-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  row-gap: 4rem;
  flex-wrap: wrap;
}
.card-auto {
  width: 25rem;
  border: 1px solid rgba(0, 0, 0, 0.237);
}
.card-auto-imagen {
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.card-auto-titulo {
  font-weight: 600;
}
.card-auto-btn {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  width: 100%;
}
.card-auto-btn:hover {
  background-color: #232323;
}

.foto-carousel {
  height: 30rem;
  object-fit: cover;
}

/* Apartado Preguntas Estilos */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
}

.div1 {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgba(0, 0, 0, 0.159);
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgba(0, 0, 0, 0.159);
}
.div3 {
  grid-area: 2 / 2 / 4 / 3;
  background-color: rgba(0, 0, 0, 0.159);
}
.div4 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: rgba(0, 0, 0, 0.159);
}
/* Footer Estilos */
footer {
  background-color: #000;
  margin-top: 2rem;
  height: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

@media only screen and (min-width: 900px) {
  .autos-header-inferior {
    width: 50%;
    margin: 0 auto;
  }
}
