/* Header Estilos */
.logotipo-imagen {
  width: 5rem;
}

.index-background {
  background-image: url(../img/indexHeaderBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;

  position: relative;
}
.autos-background {
  @extend .index-background;
  background-image: url(../img/autosHeaderBackground.jpg);
}
.index-header-inferior {
  max-width: 30rem;
  @extend .header-inferior-medidas;
}
.autos-header-inferior {
  @extend .header-inferior-medidas;
}
.index-header-btn {
  border-radius: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}