.logotipo-imagen {
  width: 5rem;
}

.index-background {
  @extend %headerBackground;
  background-image: url(../img/indexHeaderBackground.jpg);
}
.autos-background {
  @extend %headerBackground;
  background-image: url(../img/autosHeaderBackground.jpg);
}
.index-header-inferior {
  @extend %header-inferior-medidas;
  max-width: 30rem;
}
.autos-header-inferior {
  @extend %header-inferior-medidas;
}
.index-header-btn {
  border-radius: 0.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}
