%header-inferior-medidas {
  height: 90vh;
  padding: 0 2rem;
}
%headerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;

  position: relative;
}
%flexWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
