%header-inferior-medidas {
  height: 90vh;
  padding: 0 2rem;
}
%headerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;

  position: relative;
}
